.digitalplace.form-renderer {
	.hide-navigation {
		.ddm-form-pagination,
		.ddm-pagination {
			display: none;
		}
	}

	.lfr-form-content {
		padding-left: 0px;
		padding-bottom: 10px;
	}

	.btn-default:hover {
		margin-right: 15px;
	}

	.btn-default:active {
		margin-right: 15px !important;
	}

	.btn-default:focus {
		margin-right: 15px;
	}

	.ddm-form-builder-app {
		padding-left: 0;
		padding-right: 0;
	}

	.ddm-field-container {
		padding-left: 0;
		padding-right: 0;
	}

	.liferay-ddm-form-field-address {
		padding-left: 0;

		.form-group {
			margin-right: 0;
		}
	}

	.portlet-forms h2.lfr-ddm-form-page-title {
		margin-bottom: 3rem;
	}

	.lfr-ddm-form-pagination-controls {
		padding-left: 0;

		.btn-secondary {
			padding-top: 12px;
			padding-bottom: 11px;
		}
	}
}