.multi-webdocs-navigation {
	.nav__list {
		flex-direction: column;
        .list__item {
			a.list__link {
				display: block;
				padding: 0.625rem 1rem;
			}

			&.visible-xs, &.visible-sm{
			    display: block !important;
			}
		}
	}
}