
.settings-dropdown-container{
    
    .button-holder{
        
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
            margin: 0.2rem 0 !important;
            padding-right: 1.5rem !important;
        }
    }
    
    .btn-primary::after {
        display: none;
    }
}

.settings-button-container{
    
     .dropdown-menu {
        min-width: 275px;
    }
}



@media (min-width: 576px) {
    .my-local-container {
        .card-deck {
            grid-template-columns: 1fr;
        }
    }
}

@media (min-width: 768px) {
    .my-local-container {
        .card-deck {
            grid-template-columns: 1fr 1fr;
        }
    }
}


@media (min-width: 992px) {
    .my-local-container {
        .card-deck {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}