@font-face {
	font-family: GDS Transport;
	src: url(../assets/fonts/light-94a07e06a1-v2.woff2) format("woff2"), url(../assets/fonts/light-f591b13f7d-v2.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: GDS Transport;
	src: url(../assets/fonts/bold-b542beb274-v2.woff2) format("woff2"), url(../assets/fonts/bold-affa96571d-v2.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

.govuk-footer__copyright-logo {
	display: inline-block;
	min-width: 125px;
	padding-top: 112px;
	background-image: url(../assets/images/govuk-crest.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 125px 102px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:2dppx), only screen and (min-resolution:192dpi) {
	.govuk-footer__copyright-logo {
		background-image: url(../assets/images/govuk-crest-2x.png)
	}
}

/* Avoid picking up clay.css caption styles */
caption {
	caption-side: inherit;
	color: inherit;
}

.digitalplace-wrapper a.govuk-button{
	text-decoration: none;
}

.digitalplace-wrapper a.govuk-button:active{
	background-color: #00703c;
}

.digitalplace-wrapper a.govuk-button:focus{
	box-shadow: inset 0 0 0 1px #fd0 !important;
}

.digitalplace-wrapper a.govuk-button:focus:not(:active):not(:hover){
	background-color: #fd0;
	box-shadow: 0 2px 0 #0b0c0c !important;
}

.digitalplace-wrapper a.govuk-button:hover{
	background-color: #005a30;
}

.digitalplace-wrapper a.govuk-button, .digitalplace-wrapper a.govuk-button:active, .digitalplace-wrapper a.govuk-button:visited, .digitalplace-wrapper a.govuk-button:hover{
	color: #fff;
}

.digitalplace-wrapper a.govuk-button.govuk-button--secondary{
	background-color: #f3f2f1;
	box-shadow: 0 2px 0 #929191;
	color: #0b0c0c;
}

.digitalplace-wrapper a.govuk-button.govuk-button--secondary:hover{
    background-color: #dbdad9;
}

.digitalplace-wrapper a.govuk-button.govuk-button--warning{
    background-color: #d4351c;
}
.digitalplace-wrapper a.govuk-button.govuk-button--warning:hover{
    background-color: #aa2a16;
}

/* Avoid picking up DP button focus style for accordion sections */
.js-enabled .govuk-accordion__section-button:focus {
	box-shadow: inherit !important;
}