.multi-webdocs-navigation.left-tab-nav{

    margin-top: 6rem;
    margin-bottom: 1rem;
    padding: 1rem;

	ul.nav__list {
    	columns: 1;
    	-webkit-columns: 1;
        padding-left: 0;
		li.list__item {
            list-style: none;
            border-bottom: 1px solid #f2f2f2;
            margin-bottom: 0;
            &.list__item--active-child a {
                border-left: 5px solid #206497;
                background: transparent;
                box-shadow: none !important;
            }
            a{
                text-decoration: none;
            }
        }
	}
    ul:not(.list-unstyled):not(.related-assets-entries):not(.list-group):not(.tbar-nav):not(.nav):not(.pagination__list):not(.pagination):not(.unstyled) li::before{
        content: '' !important;
        width: 0;
    }
    &.multi-webdocs-navigation .nav__list .list__item.list__item--active-child a {
        display: block;
    }
}

@media (max-width: 767px) {
    .left-tab-nav .list__item {
        display:none;

        &.list__item--active-child a{
            border-left: 0;
        }
    }
    .left-tab-nav {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 0;
    }
    .left-tab-nav .list__item.list__item--active-child {
        display: block;
    }

    .left-tab-nav .list__item.list__item--active-child > a:before {
        content: "\e259";
        position: absolute;
        top: 15px;
        right: 15px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .left-tab-nav .list__item {
        float: none;
    }
    .scrollup{
        position: fixed;
        top: 50%;
        right: 10px;
        left: auto !important;

    }
}

.scrollup{
    position: fixed;
    display: none;
    top: 50%;
    z-index: 99999999;
}