.card-deck {
	justify-content: space-between;
		
	& > .card {		
		flex: 0 1 auto;
	
		@media (min-width: 576px) {
			flex: 0 1 45%;
		}
		
		@media (min-width: 768px) {
			flex: 0 1 30%;
		}
	}
	
	& > .card-cell {
		display: flex;
		flex: 0 1 auto;		
		margin-left: 12px;
		margin-right: 12px;
		
		@media (min-width: 576px) {
			flex: 0 1 45%;
		}
		
		@media (min-width: 768px) {
			flex: 0 1 30%;
		}

		.card {
			width: 100%;
			margin-left: 0;
			margin-right: 0;	
		}
	}
	
	.card {
		margin-bottom: 0.5rem;
	}
	
}

@supports (display: grid) {
	.card-deck {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: .5rem;
			 
		& > .card-cell {
			flex: auto;
			width: auto;
			margin-left: 0;
			margin-right: 0;
			
			.card {
				width: auto;
				margin-left: 12px;
				margin-right: 12px;
			}
		}
	   
		.card {
			flex: 1 0 0;
			width: auto;
			margin-bottom: 0;
		}
	}	
}

.fragment-entry-link-list__container{
	padding: 2rem 0;
}
.digitalplace-wrapper{
	#content{
		table{
			tr{
				td{
					vertical-align: top;
				}
			}
		}
	}
}

.dropdown-subheader {
	text-transform: initial;
}