<aui:script>

	$('#<portlet:namespace/>expireOldForms').on("click", function(){
  		if ($(this).is(':checked')) {
			$('#<portlet:namespace/>expire-old-forms-interval').removeClass('hide');
		} else {
			$('#<portlet:namespace/>expire-old-forms-interval').addClass('hide');
		}
	});

	$('#<portlet:namespace/>saveAndContinueEnabled').on("click", function(){
  		if ($(this).is(':checked')) {
			$('#<portlet:namespace/>save-and-continue-config-fields').removeClass('hide');
		} else {
			$('#<portlet:namespace/>save-and-continue-config-fields').addClass('hide');
		}
	});

</aui:script>